{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% load product_extras %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span>
                </h5>
                <form>

                    <div class="bg-light p-4 mb-30">

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <label for="price-all">min_price</label>
                            <input type="number" name="min_price" id="price_all">
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <label for="price-all">max_price</label>
                            <input type="number" name="max_price" id="price_all">
                        </div>


                    </div>
                    <!-- Price End -->


                    <!-- Cat Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Category</span>
                    </h5>
                    <div class="bg-light p-4 mb-30">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox"  name="cat" {% if request.GET.cat ==  "learning" %}checked{% endif %} value="{{ categorys.0 }}" class="custom-control-input" id="cat-1">
                            <label class="custom-control-label" for="cat-1">{{ categorys.0 }}</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="cat" {% if request.GET.cat ==  "varzesh" %}checked{% endif %}  value="{{ categorys.1 }}" class="custom-control-input" id="cat-2">
                            <label class="custom-control-label" for="cat-2">{{ categorys.1 }}</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
{#                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">#}
{#                            <input type="checkbox" name="cat" value="{{ categorys.2 }}" class="custom-control-input" id="cat-3">#}
{#                            <label class="custom-control-label" for="color-3">{{ categorys.2 }}</label>#}
{#                            <span class="badge border font-weight-normal">246</span>#}
{#                        </div>#}



                    </div>
                    <!-- Cat End -->


                    <!-- Color Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span>
                    </h5>
                    <div class="bg-light p-4 mb-30">


                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="color" {% if request.GET.color ==  "blue" %}checked{% endif %} value="blue" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Blue</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="color" {% if request.GET.color ==  "red" %}checked{% endif %} value="red" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">Red</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="color" {% if request.GET.color ==  "white" %}checked{% endif %} value="white" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">White</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="color" {% if request.GET.color ==  "black" %}checked{% endif %} value="black" class="custom-control-input"
                                   id="color-4">
                            <label class="custom-control-label" for="color-4">Black</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>


                    </div>
                    <!-- Color End -->

                    <!-- Size Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span>
                    </h5>
                    <div class="bg-light p-4 mb-30">


                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="size" {% if request.GET.size ==  "l" %}checked{% endif %}  value="l" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1">L</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="size" {% if request.GET.size ==  "xl" %}checked{% endif %}  value="xl" class="custom-control-input" id="size-2">
                            <label class="custom-control-label" for="size-2">XL</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="size" {% if request.GET.size ==  "xxl" %}checked{% endif %}  value="xxl" class="custom-control-input" id="size-4">
                            <label class="custom-control-label" for="size-4">XXL</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <input type="submit" value="send">


                    </div>
                    <!-- Size End -->
                </form>
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                            data-toggle="dropdown">Sorting
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Latest</a>
                                        <a class="dropdown-item" href="#">Popularity</a>
                                        <a class="dropdown-item" href="#">Best Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                            data-toggle="dropdown">Showing
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for product  in products %}

                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ product.img.url }}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square"
                                           href="{% url 'product:detail' product.id %}"><i
                                                class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i
                                                class="fa fa-sync-alt"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate" href="">{{ product.title }}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>${{ product.price }}</h5>
                                        <h6 class="text-muted ml-2">
                                            <del>$123.00</del>
                                        </h6>
                                    </div>


                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small>(99)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-12">
                        {% if products.has_other_pages %}
                            <nav>

                            <ul class="pagination justify-content-center">
                                {% if products.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{% if request.GET.q %}?page={{ products.previous_page_number }}&q={{ request.GET.q }}{% else %}{% my_url products.previous_page_number 'page' request.GET.urlencode %}{% endif %}">Previous</a>
                                    </li>
                                {% endif %}

                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="{% if request.GET.q %}?page={{ i }}&q={{ request.GET.q }}{% else %}{% my_url products.number 'page' request.GET.urlencode %}{% endif %}">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{% if request.GET.q %}?page={{ i }}&q={{ request.GET.q }}{% else %}{% my_url products.number 'page' request.GET.urlencode %}{% endif %}">{{ i }}</a>
                                        </li>

                                    {% endif %}

                                {% endfor %}

                                {% if products.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{% if request.GET.q %}?page={{ products.next_page_number }}&q={{ request.GET.q }}{% else %}{% my_url products.next_page_number 'page' request.GET.urlencode %}{% endif %}">Next</a>
                                    </li>
                                {% endif %}

                            </ul>
                        {% endif %}

                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock %}
{##}
{#{% if product_page_obj.has_previous %}#}
{#    <a href="?page=1">&laquo; first</a>#}
{#    <a href="?page={{ product_page_obj.paginator.num_page }}">previous</a>#}
{#{% endif %}#}
{##}
{##}
{#<span>page {{ product_page_obj.number }} or {{ product_page_obj.paginator.num_pages }}</span>#}
{##}
{##}
{#{% if product_page_obj.has_next %}#}
{#    <a href="?page={{ product_page_obj.next_page_number }}">next</a>#}
{#    <a href="?page={{ product_page_obj.paginator.num_page }}">&laquo; last</a>#}
{#{% endif %}#}

